<!DOCTYPE html>
<html>
<head>
	<style>
		.topright{
			position: fixed;
			right: 0;
			top: 1;
			width: 260px;
		}
	</style>
	<div class="topright">
			<a href="/" style="text-decoration:none;" >
				Home
			</a>
			|
			<a href="http://tanner.readthedocs.io/en/latest/" style="text-decoration:none;" >
				Docs
			</a>
	 </div>
</head>
<head>
	<title>{% block title %}{% endblock %} - Tanner Web</title>
	<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
<div id="content">
	{% block content%}
	{% endblock%}
</div>
<div id="footer">
	{% block footer%}
	{% endblock%}
</div>
</body>
</html>