{% extends "base.html" %}
{% block title %}SNARE-STATS{% endblock %}
{% block content %}
<h3 align="center">SNARE-STATS</h3>
<table align="center">
  <tr>
    <th style="width: 20%">Key</th>
    <th>Value</th>
  </tr>
  <tr>
    <td><b>No of Sessions</b></td>
    {% if 'total_sessions' in snare_stats %}
      <td>{{snare_stats.total_sessions}}</td>
    {% endif %}
  </tr>
  <tr>
    <td><b>Total Duration</b></td>
    {% if 'total_duration' in snare_stats %}
      <td>{{snare_stats.total_duration}}</td>
    {% endif %}
  </tr>
  <tr>
    <td><b>Attack Frequency</b></td>
    <td>
      {% if 'attack_frequency' in snare_stats %}
        {% for key, val in snare_stats.attack_frequency.items() %}
          {{key}} : {{val}} <br>
        {% endfor %}
      {% endif %}
    </td>
  </tr>  
</table>
{% endblock %}
