sudo: required
services:
  - mysql
  - docker
  - redis-server
before_install:
  - docker pull busybox:latest
  - sudo mysql -e "use mysql; update user set authentication_string=PASSWORD('user_pass') where User='root'; update user set plugin='mysql_native_password';FLUSH PRIVILEGES;"
  - sudo mysql_upgrade -u root -puser_pass
  - sudo service mysql restart
language: python
python:
  - "3.5"
  - "3.6"
  - "3.7"
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install coveralls
  - docker-compose -f ./docker/docker-compose.yml up -d
# command to run tests
script:
    - python setup.py install
    - nosetests -vv --with-coverage --cover-inclusive --cover-package=tanner
    - pycodestyle . --max-line-length=120
    - test $(docker ps -f name=tanner -q | wc --lines) -eq 5
after_success: coveralls
